body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

#button-container{
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  margin: 0px;
  padding: 5px 15px;
  font-weight: bold;
}

.clearBtn {
  border-left: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #ff6961;
  color: white;
  margin: 0px;
  padding: 5px 15px;
  font-weight: bold;
}


.saveBtn i:hover {
  transition: all 0.3s ease-in-out;
}

.hour{
  width: 10%;
  text-align: center;
}

.activity{
  width: 90%;
}

input{
  width: 100%;
  border: none;
  margin: none;
  padding: none;
  height: 100%;
  font-size: large;
}

@media screen and (max-width: 785px){
  .hour{
    width: 15%;
  }
}

@media screen and (max-width: 505px){
  .hour{
    width: 20%;
  }
}

@media screen and (max-width: 505px){
  .hour{
    width: 30%;
  }
}